




.text{
	-fx-font-family: "Scrabble";
	-fx-font-size:35px;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}
.root{
	-fx-background-color: linear-gradient(to right, #218f33, #83d490);
}

#joinGame{
	-fx-font-size:25px;
	-fx-color: red;
	-fx-background-color: radial-gradient(radius 150%, #fcfcfc,#015c1f);
}

.text-field{
	-fx-border-color: linear-gradient(to right, #218f33, #83d490);
	-fx-border-width: 0px 0px 2px;
	-fx-background-color:transparent
}
